body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#name {
  position: fixed;
  font-size: 50px;
}

#button {
  top: 52px;
  right: 60px;
  width: 35px;
  position: fixed;
  z-index: 50;
  height: 35px;
}

.naviMenu {
  top: 0px;
  bottom: 0px;
  right: 1px;
  position: fixed;
  margin-right: 5px;
  z-index: 50;
  width: 83px;
}

svg {
  height: 100vh;
}

.test {
  height: 600px;
}

.footer {
  display: flex;
  background-color: rgb(240, 240, 245);
}

#contact, #social {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

h5 {
  font: normal normal normal 22px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
}

h6 {
  font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
color: #ADADAC;
}
